body {
	font-size: 18px;
	color: #000f08;
	background-color: #fcfaed;
}

section {
	display: flex;
}

article {
	background-color: #f78668;
	flex: 1;
}

article:nth-of-type(1) {
	flex: 3;
}

nav {
	background-color: #3e2f5b;
	color: #fcfaed;
	padding: 20px 0;
	font-size: 1.2em;
}

