body {
	font-size: 18px;
	color: #000f08;
}

p {
	line-height: 1.5;
}

article {
	padding: 20px;
}

.box {
	width: 300px;
	height: 160px;
	background-color: #FC814A;
	transition: all 1.5s ease-in-out;
}

.box:hover {
	background-color: #564256;
	width: 400px;
}