body {
	font-size: 18px;
	color: #000f08;
}

p {
	line-height: 1.5;
}

article {
	padding: 20px;
}

img {
	transform: perspective(500px) rotateY(30deg) rotateX(40deg) translateX(200px) translateY(150px);
}