body {
	background-color: #1dd3b0;
	font-size: 18px;
}

article {
	background-color: #086375;
	color: #FFFFFF;
	margin: 30px;
    
    /*padding ma podobne zastosowanie jak margin
    działa w środku boxa powiększając go.
        funkcjonuje w podobny sposób tzn top righ bottom left*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    /*lub lepszy zapis:*/
    padding: 20px 30px;
}