html {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

h1, h2 {
	font-family: "Arial Black", sans-serif;
}

p {
	font-size: 1.4rem;
    /*line hight można ustalać na wiele sposobów ale zazwyczaj używa się mnożnika bez jednostek
    zazwyczaj 1.5-2.0
    */
    line-height: 1.5;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2.4rem;
}